.actions-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 52px;
	// .items-container {

		.actions-forgot-password{
			margin-left: 32px;
			cursor: pointer;
			color: blue;
	
		}
	// }


}