.sign-in-actions-container {
	display: flex;
	flex-direction: row;
justify-content: space-between;
	height: 52px;
	align-items: center;

	.actions-forgot-password{
		margin-left: 32px;
		cursor: pointer;
		color: blue;

	}



}